<VirtualHost *:80>
        ServerName leikacode.vm

        ServerAdmin schorradt@publicplan.de
        DocumentRoot /var/www/html/public

        <Directory /var/www/html>
            AllowOverride All
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
